In [1]:
# Databricks notebook source
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [2]:
# COMMAND ----------

# old

all_cities_weekly_df = pd.read_csv('~/data/downtownrecovery/curated_data/model_features_20230707.csv')
all_cities_weekly_lq = all_cities_weekly_df.to_numpy()

In [3]:
# COMMAND ----------

# old

city_df = all_cities_weekly_df.transpose()

In [80]:
# COMMAND ----------

#Import Downtown Zipcodes
us_city_index = pd.read_csv('~/data/downtownrecovery/geographies/city_index_0119.csv')
us_city_index = us_city_index[~us_city_index["0"].isin(["Mesa", "Long Beach", "Virginia Beach", "Arlington", "Aurora"])]
us_city_index.head()

,Unnamed: 0,_c0,0,1,2,3,geo,zipcodes
0,0,0,New York,NY,36,51000,"MULTIPOLYGON (((-74.040747 40.700167, -74.0407...","['10171', '10110', '10282', '10040', '11207', ..."
1,1,1,Los Angeles,CA,6,44000,"POLYGON ((-118.668176 34.189867, -118.668146 3...","['90018', '90301', '90071', '90062', '90211', ..."
2,2,2,Chicago,IL,17,14000,"POLYGON ((-87.94009699999999 42.000792, -87.93...","['60302', '60171', '60643', '46327', '60633', ..."
3,3,3,Houston,TX,48,35000,"MULTIPOLYGON (((-95.17341999999999 29.807811, ...","['77583', '77086', '77006', '77072', '77401', ..."
4,4,4,Phoenix,AZ,4,55000,"MULTIPOLYGON (((-112.126263 33.36182, -112.125...","['85019', '85053', '85383', '85045', '85306', ..."

In [81]:
us_downtowns = pd.read_csv('~/data/downtownrecovery/geographies/us_downtowns.csv', header = None)
us_downtowns.head()

,0,1,2,3
0,New York,NY,"[10004, 10005, 10006, 10017, 10018, 10174, 101...",Manual
1,Los Angeles,CA,"[90013, 90014, 90017, 90071]",95 + prune
2,Chicago,IL,"[60601, 60602, 60603, 60604, 60606]",95
3,Houston,TX,"[77002, 77010]",95 + prune
4,Phoenix,AZ,"[85003, 85004]",Manual

In [82]:
us_city_index['0'].map(dict(zip(us_downtowns[0], us_downtowns[2])))

0     [10004, 10005, 10006, 10017, 10018, 10174, 101...
1                          [90013, 90014, 90017, 90071]
2                   [60601, 60602, 60603, 60604, 60606]
3                                        [77002, 77010]
4                                        [85003, 85004]
5                   [19102, 19103, 19106, 19107, 19109]
6                                               [78205]
7                                               [92101]
8                                 [75201, 75202, 75270]
9                                               [95113]
10                                              [78701]
11                                              [32202]
12                                              [76102]
13                                              [43215]
14                                              [46204]
15                         [28202, 28282, 28244, 28280]
16                                [94104, 94105, 94111]
17                  [98101, 98104, 98154, 98164, 98174]
18                                       [80202, 80293]
19                                [20005, 20006, 20036]
20                                       [37201, 37219]
21                                              [73102]
22                                              [79901]
23                                       [02109, 02110]
24                                              [97204]
25                                              [89101]
26                                       [48226, 48243]
27                                              [38103]
28                                              [40202]
29                                       [21201, 21202]
30                                              [53202]
31                                              [87102]
32                                              [85701]
33                                              [93721]
34                                              [95814]
35                                       [64105, 64106]
37                                              [30303]
38                                              [68102]
39                                              [80903]
40                                              [27601]
43                                              [33131]
44                                              [94612]
45                                       [55402, 55415]
46                                       [74103, 74119]
47                                              [93301]
48                                              [67202]
51                                              [33602]
52                         [70112, 70130, 70139, 70162]
53                                              [44114]
54                                              [96813]
55                                              [45202]
56                                       [15219, 15222]
57                                       [84101, 84111]
58                                              [63101]
59                                              [32801]
Name: 0, dtype: object

In [83]:

us_city_index["_c2"] = us_city_index['0'].map(dict(zip(us_downtowns[0], us_downtowns[2])))
us_city_index["_c2"] = us_city_index["_c2"].apply(lambda x: x[1:-1].split(','))
us_city_index = us_city_index.rename(columns={"_c2":"downtown_zipcodes"})
us_city_index["downtown_zipcodes"] = us_city_index["downtown_zipcodes"].apply(lambda x: [int(i) for i in x])
us_city_index["zipcodes"] = us_city_index["zipcodes"].apply(lambda x: x.strip("][").replace("'","").split(', '))
us_city_index["zipcodes"] = us_city_index["zipcodes"].apply(lambda x: [int(i) for i in x])

In [89]:
import json
import requests
#import censusdata
acs_url = f'https://api.census.gov/data/2019/acs/acs5?get=NAME,B25024_001E,B25024_002E,B25024_003E,B25024_004E,B25024_005E,B25024_006E,B25024_007E,B25024_008E,B25024_009E,B25024_010E,B25024_011E,B25003_001E,B25003_003E,B01002_001E,B15003_001E,B15003_022E,B15003_023E,B15003_024E,B15003_025E,B19013_001E,B25064_001E,B25002_001E,B25002_002E,B25002_003E,B03002_001E,B03002_003E,B03002_004E,B03002_006E,B03002_012E,B08301_001E,B08301_002E,B08301_010E,B08301_016E,B08301_017E,B08301_018E,B08301_019E,B08301_020E,B08301_021E,B08135_001E,B08303_001E&for=zip%20code%20tabulation%20area:*'
acs_response_all = requests.get(acs_url)
acs_results_all = acs_response_all.text

if "Sorry" in acs_results_all:
    print(acs_results_all)

acs_all = pd.DataFrame.from_records(json.loads(acs_results_all))
header = acs_all.iloc[0] 
acs_all = acs_all.iloc[1:] 
acs_all.columns = header
#subj_industry = censusdata.download('acs5',2021,censusdata.censusgeo([('zip code tabulation area', '*')]),['S2403_C01_001E','S2403_C01_002E','S2403_C01_005E','S2403_C01_006E','S2403_C01_007E','S2403_C01_008E','S2403_C01_009E','S2403_C01_012E','S2403_C01_013E','S2403_C01_016E','S2403_C01_020E','S2403_C01_023E','S2403_C01_026E','S2403_C01_027E'],tabletype='subject')
#new_subj_industry_indices = [int(i.geo[0][1]) for i in subj_industry.index]
#indexed_subj_industry = subj_industry.set_index(pd.Index(new_subj_industry_indices))
#indexed_subj_industry['zip_code'] = indexed_subj_industry.index.astype(int)
acs_all['zip code tabulation area'] = acs_all['zip code tabulation area'].astype(int)
#acs_all = acs_all.merge(indexed_subj_industry, how='left', left_on='zip code tabulation area', right_on='zip_code')
acs_all

,NAME,B25024_001E,B25024_002E,B25024_003E,B25024_004E,B25024_005E,B25024_006E,B25024_007E,B25024_008E,B25024_009E,...,B08301_016E,B08301_017E,B08301_018E,B08301_019E,B08301_020E,B08301_021E,B08135_001E,B08303_001E,state,zip code tabulation area
1,ZCTA5 25245,343,306,0,0,0,0,0,0,0,...,0,0,0,0,0,0,None,227,54,25245
2,ZCTA5 25268,464,348,0,0,0,0,0,0,0,...,0,0,0,0,0,19,None,257,54,25268
3,ZCTA5 25286,899,707,0,0,0,0,0,0,0,...,0,0,0,9,0,63,None,371,54,25286
4,ZCTA5 25303,3269,2619,53,150,263,82,15,87,0,...,0,8,0,20,33,40,56980,3290,54,25303
5,ZCTA5 25311,5740,2671,175,237,529,297,177,218,812,...,0,0,6,285,187,190,90540,4743,54,25311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33116,ZCTA5 38704,17,8,0,0,0,0,0,0,0,...,0,0,0,0,0,0,-666666666,0,28,38704
33117,ZCTA5 38731,71,51,0,0,0,0,0,0,0,...,0,0,0,0,0,0,None,61,28,38731
33118,ZCTA5 38749,34,34,0,0,0,0,0,0,0,...,0,0,0,0,0,0,None,11,28,38749
33119,ZCTA5 38781,114,33,0,64,6,3,0,0,0,...,0,0,0,0,7,2,None,28,28,38781
33120,ZCTA5 38945,23,23,0,0,0,0,0,0,0,...,0,0,0,0,0,0,None,28,28,38945

In [90]:
# COMMAND ----------

#removing 0 values
acs_all = acs_all.apply(pd.to_numeric, errors='coerce')
#acs_all["B19013_001E"] = acs_all["B19013_001E"].where(acs_all["B19013_001E"].astype(float)>0)
#acs_all["B25064_001E"] = acs_all["B25064_001E"].where(acs_all["B25064_001E"].astype(float)>0)
#acs_all["B01002_001E"] = acs_all["B01002_001E"].where(acs_all["B01002_001E"].astype(float)>0)
#acs_all["B01002_001E"] = acs_all["B01002_001E"].where(acs_all["B01002_001E"].astype(float)<100)
#acs_all["B01002_001E"] = acs_all["B01002_001E"].astype(float)
#acs_all["B01002_001E"] = acs_all["B01002_001E"].fillna(0)
#acs_all["B19013_001E"] = acs_all["B19013_001E"].astype(float)
#acs_all["B19013_001E"] = acs_all["B19013_001E"].where(acs_all["B19013_001E"].astype(float)>0)
#acs_all["B19013_001E"] = acs_all["B19013_001E"].fillna(0)
#acs_all["B25064_001E"] = acs_all["B25064_001E"].where(acs_all["B25064_001E"].astype(float)>0)
#acs_all["B25064_001E"] = acs_all["B25064_001E"].astype(float)
#acs_all["B25064_001E"] = acs_all["B25064_001E"].fillna(0)
#acs_all["B08135_001E"] = acs_all["B08135_001E"].where(acs_all["B08135_001E"].astype(float)>0)
#acs_all["B08135_001E"] = acs_all["B08135_001E"].astype(float)
#acs_all["B08135_001E"] = acs_all["B08135_001E"].fillna(0)
#acs_all["B08303_001E"] = acs_all["B08303_001E"].where(acs_all["B08303_001E"].astype(float)>0)
#acs_all["B08303_001E"] = acs_all["B08303_001E"].astype(float)
#acs_all["B08303_001E"] = acs_all["B08303_001E"].fillna(0)
for i in ["B19013_001E","B25064_001E","B01002_001E","B08135_001E","B08303_001E","B08301_001E","B08301_002E","B08301_010E","B08301_016E","B08301_017E","B08301_018E","B08301_019E","B08301_020E","B08301_021E","B08135_001E","B08303_001E",'B03002_001E','B25064_001E']:
    acs_all[i] = acs_all[i].astype(float)
    acs_all[i] = acs_all[i].clip(lower=0)
    acs_all[i] = acs_all[i].fillna(0)

#acs_all.B25064_001E = acs_all.B25064_001E.clip(upper=90)

In [91]:
# COMMAND ----------

##city_df_cut["dwtn_zipcodes"] = city_df_cut["index"].map(us_city_index.set_index("0")["downtown_zipcodes"].to_dict())

# COMMAND ----------

# MAGIC %md
# MAGIC ##March 17 was rerun from here##


# COMMAND ----------

def div_0(n,d):
    try:
        return n/d
    except:
        return 0

# COMMAND ----------

def div_int_0(n,d):
    try:
        return int(n)/int(d)
    except:
        return 0

In [96]:

# COMMAND ----------

#np.sum(acs_dwtn_data.B03002_001E * acs_dwtn_data.B01002_001E)/ np.sum(acs_dwtn_data.B01002_001E)

# COMMAND ----------

def get_acs_data(row):
    acs_dwtn_data = acs_all[acs_all["zip code tabulation area"].isin([int(i) for i in row["downtown_zipcodes"]])]
    acs_dwtn_sum = acs_dwtn_data.sum(axis=0)
    #acs_city_data = acs_all[acs_all["zip_code"].isin([int(i) for i in row["zipcodes"]])]
    #acs_city_sum = acs_city_data.sum(axis=0)
    zero_age = len(acs_dwtn_data[acs_dwtn_data["B01002_001E"]==0])
    zero_income = len(acs_dwtn_data[acs_dwtn_data["B19013_001E"]==0])
    zero_rent = len(acs_dwtn_data[acs_dwtn_data["B25064_001E"]==0])
    median_age_downtown = np.sum(acs_dwtn_data.B01002_001E * acs_dwtn_data.B03002_001E)/ np.sum(acs_dwtn_data.B03002_001E)
    #median_age_city = np.sum(acs_city_data.B01002_001E * acs_city_data.B03002_001E)/ np.sum(acs_city_data.B03002_001E)
    median_income_downtown = np.sum(acs_dwtn_data.B19013_001E * acs_dwtn_data.B03002_001E)/ np.sum(acs_dwtn_data.B03002_001E)
    #median_income_city = np.sum(acs_city_data.B19013_001E * acs_city_data.B03002_001E)/ np.sum(acs_city_data.B03002_001E)
    median_rent_downtown = np.sum(acs_dwtn_data.B25064_001E * acs_dwtn_data.B03002_001E)/ np.sum(acs_dwtn_data.B03002_001E)
    #median_rent_city = np.sum(acs_city_data.B25002_003E * acs_city_data.B03002_001E)/ np.sum(acs_city_data.B03002_001E)
    return pd.Series([float(acs_dwtn_sum.B03002_001E), #total_pop_downtown
                     # float(acs_city_sum.B03002_001E), #total_pop_city
                    div_0((float(acs_dwtn_sum.B25024_002E) + float(acs_dwtn_sum.B25024_003E)), float(acs_dwtn_sum.B25024_001E)) *100, #pct_singlefam_downtown
                    #div_0((float(acs_city_sum.B25024_002E) + float(acs_city_sum.B25024_003E)), float(acs_city_sum.B25024_001E)) *100, #pct_singlefam_city 
                    div_0((float(acs_dwtn_sum.B25024_004E) + float(acs_dwtn_sum.B25024_005E) + float(acs_dwtn_sum.B25024_006E) + float(acs_dwtn_sum.B25024_007E) 
                          + float(acs_dwtn_sum.B25024_008E) + float(acs_dwtn_sum.B25024_009E)),float(acs_dwtn_sum.B25024_001E)) *100, #pct_multifam_downtown
                    #div_0((float(acs_city_sum.B25024_004E) + float(acs_city_sum.B25024_005E) + float(acs_city_sum.B25024_006E) + float(acs_city_sum.B25024_007E) 
                    #      + float(acs_city_sum.B25024_008E) + float(acs_city_sum.B25024_009E)),float(acs_city_sum.B25024_001E)) *100, #pct_multifam_city
                    div_0((float(acs_dwtn_sum.B25024_010E) + float(acs_dwtn_sum.B25024_011E)),float(acs_dwtn_sum.B25024_001E)) *100, #pct_mobile_home_and_others_downtown
                    #div_0((float(acs_city_sum.B25024_010E) + float(acs_city_sum.B25024_011E)),float(acs_city_sum.B25024_001E)) *100, #pct_mobile_home_and_others_city 
                    div_0(float(acs_dwtn_sum.B25003_003E), float(acs_dwtn_sum.B25003_001E)) *100, #pct_renter_downtown
                    #div_0(float(acs_city_sum.B25003_003E), float(acs_city_sum.B25003_001E)) *100, #pct_renter_city
                    median_age_downtown, #median_age_downtown
                    #median_age_city, #median_age_downtown
                    div_0((float(acs_dwtn_sum.B15003_022E) + float(acs_dwtn_sum.B15003_023E) + int(acs_dwtn_sum.B15003_024E) + float(acs_dwtn_sum.B15003_025E)),float(acs_dwtn_sum.B15003_001E)) *100, #bachelor_plus_downtown
                    #div_0((float(acs_city_sum.B15003_022E) + float(acs_city_sum.B15003_023E) + int(acs_city_sum.B15003_024E) + float(acs_city_sum.B15003_025E)),float(acs_city_sum.B15003_001E)) *100, #bachelor_plus_city
                    median_income_downtown, #median_hhinc_downtown
                    #median_income_city, #median_hhinc_city
                    median_rent_downtown, #div_0(float(acs_dwtn_sum.B25064_001E), len(acs_dwtn_data) - zero_rent), #median_rent_downtown
                    #div_0(float(acs_city_sum.B25002_003E), len(acs_city_data) - zero_rent), #median_rent_city
                    div_0(float(acs_dwtn_sum.B25002_003E),float(acs_dwtn_sum.B25002_001E)) *100, #pct_vacant_downtown
                    #div_0(float(acs_city_sum.B25002_003E),float(acs_city_sum.B25002_001E)) *100, #pct_vacant_city
                    div_0(float(acs_dwtn_sum.B03002_003E),float(acs_dwtn_sum.B03002_001E)) *100, #pct_nhwhite_downtown
                    #div_0(float(acs_city_sum.B03002_003E),float(acs_city_sum.B03002_001E)) *100, #pct_nhwhite_city
                    div_0(float(acs_dwtn_sum.B03002_004E),float(acs_dwtn_sum.B03002_001E)) *100, #pct_nhblack_downtown
                    #div_0(float(acs_city_sum.B03002_004E),float(acs_city_sum.B03002_001E)) *100, #pct_nhblack_city
                    div_0(float(acs_dwtn_sum.B03002_006E),float(acs_dwtn_sum.B03002_001E)) *100, #pct_nhasian_downtown
                    #div_0(float(acs_city_sum.B03002_006E),float(acs_city_sum.B03002_001E)) *100, #pct_nhasian_city
                    div_0(float(acs_dwtn_sum.B03002_012E),float(acs_dwtn_sum.B03002_001E)) *100, #pct_hispanic_downtown
                    #div_0(float(acs_city_sum.B03002_012E),float(acs_city_sum.B03002_001E)) *100, #pct_hispanic_city
                    div_0(float(acs_dwtn_sum.B08301_002E), float(acs_dwtn_sum.B08301_001E)) *100, #pct_commute_auto_downtown
                    #div_0(float(acs_city_sum.B08301_002E), float(acs_city_sum.B08301_001E)) *100, #pct_commute_auto_city
                    div_0(float(acs_dwtn_sum.B08301_010E), float(acs_dwtn_sum.B08301_001E)) *100, #pct_commute_public_transit_downtown
                    #div_0(float(acs_city_sum.B08301_010E), float(acs_city_sum.B08301_001E)) *100, #pct_commute_public_transit_city
                    div_0(float(acs_dwtn_sum.B08301_018E), float(acs_dwtn_sum.B08301_001E)) *100, #pct_commute_bicycle_downtown
                    #div_0(float(acs_city_sum.B08301_018E), float(acs_city_sum.B08301_001E)) *100, #pct_commute_bicycle_city
                    div_0(float(acs_dwtn_sum.B08301_019E), float(acs_dwtn_sum.B08301_001E)) *100, #pct_commute_walk_downtown
                    #div_0(float(acs_city_sum.B08301_019E), float(acs_city_sum.B08301_001E)) *100, #pct_commute_walk_city
                    div_0(float(acs_dwtn_sum.B08301_021E), float(acs_dwtn_sum.B08301_001E)) *100, #pct_commute_home_downtown
                    div_0(float(acs_dwtn_sum.B08301_020E) + float(acs_dwtn_sum.B08301_017E) + float(acs_dwtn_sum.B08301_016E), float(acs_dwtn_sum.B08301_001E)) *100, #pct_commute_others_downtown
                    #div_0(float(acs_city_sum.B08301_020E) + float(acs_city_sum.B08301_017E) + float(acs_city_sum.B08301_016E), float(acs_city_sum.B08301_001E)) *100, #pct_commute_city_downtown
                    float(acs_dwtn_sum.B25024_001E), #housing_units_downtown
                    #float(acs_city_sum.B25024_001E), #housing_units_city
                    div_0(float(acs_dwtn_sum.B08135_001E), float(acs_dwtn_sum.B08303_001E)) #average_commute_time_downtown
                    #div_0(float(acs_city_sum.B08135_001E), float(acs_city_sum.B08303_001E)) #average_commute_time_city
                     ])

In [97]:

# COMMAND ----------

us_city_index[['total_pop_downtown',
               #'total_pop_city',
               'pct_singlefam_downtown',
               #'pct_singlefam_city',
               'pct_multifam_downtown',
               #'pct_multifam_city',
               'pct_mobile_home_and_others_downtown',
               #'pct_mobile_home_and_others_city',
               'pct_renter_downtown',
               #'pct_renter_city',
               'median_age_downtown',
               #'median_age_city',
               'bachelor_plus_downtown',
               #'bachelor_plus_city',
               'median_hhinc_downtown',
               #'median_hhinc_city',
               'median_rent_downtown',
               #'median_rent_city',
               'pct_vacant_downtown',
               #'pct_vacant_city',
               'pct_nhwhite_downtown',
               #'pct_nhwhite_city',
               'pct_nhblack_downtown',
               #'pct_nhblack_city',
               'pct_nhasian_downtown',
               #'pct_nhasian_city',
               'pct_hisp_downtown',
               #'pct_hisp_city',
               'pct_commute_auto_downtown',
               #'pct_commute_auto_city',
               'pct_commute_public_transit_downtown',
               #'pct_commute_public_transit_city',
               'pct_commute_bicycle_downtown',
               #'pct_commute_bicycle_city',
               'pct_commute_walk_downtown',
               #'pct_commute_walk_city',
               'pct_commute_home_downtown',
               'pct_commute_others_downtown',
               #'pct_commute_others_city',
               'housing_units_downtown',
               #'housing_units_city',
               'average_commute_time_downtown']] = us_city_index.apply(get_acs_data, axis=1)
               #'average_commute_time_city'

In [98]:
# COMMAND ----------

us_city_index['pct_others_downtown'] = 100 - us_city_index['pct_hisp_downtown'] - us_city_index['pct_nhasian_downtown'] - us_city_index['pct_nhblack_downtown'] - us_city_index['pct_nhwhite_downtown']
#us_city_index['pct_others_city'] = 100 - us_city_index['pct_hisp_city'] - us_city_index['pct_nhasian_city'] - us_city_index['pct_nhblack_city'] - us_city_index['pct_nhwhite_city']
us_city_index['pct_commute_others_downtown'] = 100 - us_city_index['pct_commute_auto_downtown'] - us_city_index['pct_commute_public_transit_downtown'] - us_city_index['pct_commute_bicycle_downtown'] - us_city_index['pct_commute_walk_downtown']
#us_city_index['pct_commute_others_city'] = 100 - us_city_index['pct_commute_auto_city'] - us_city_index['pct_commute_public_transit_city'] - us_city_index['pct_commute_bicycle_city'] - us_city_index['pct_commute_walk_city']
us_city_index.head()

,Unnamed: 0,_c0,0,1,2,3,geo,zipcodes,downtown_zipcodes,total_pop_downtown,...,pct_hisp_downtown,pct_commute_auto_downtown,pct_commute_public_transit_downtown,pct_commute_bicycle_downtown,pct_commute_walk_downtown,pct_commute_home_downtown,pct_commute_others_downtown,housing_units_downtown,average_commute_time_downtown,pct_others_downtown
0,0,0,New York,NY,36,51000,"MULTIPOLYGON (((-74.040747 40.700167, -74.0407...","[10171, 10110, 10282, 10040, 11207, 10456, 114...","[10004, 10005, 10006, 10017, 10018, 10174, 101...",68267.0,...,13.754816,4.202258,48.749948,1.810492,35.543148,6.423184,9.694154,49466.0,27.254815,2.951646
1,1,1,Los Angeles,CA,6,44000,"POLYGON ((-118.668176 34.189867, -118.668146 3...","[90018, 90301, 90071, 90062, 90211, 90089, 900...","[90013, 90014, 90017, 90071]",49096.0,...,41.797702,43.576796,27.591500,1.163448,16.870001,8.592551,10.798255,28017.0,32.424316,4.238635
2,2,2,Chicago,IL,17,14000,"POLYGON ((-87.94009699999999 42.000792, -87.93...","[60302, 60171, 60643, 46327, 60633, 60305, 606...","[60601, 60602, 60603, 60604, 60606]",21390.0,...,7.237027,20.658288,19.220887,1.416568,43.677522,11.707520,15.026734,15539.0,23.429021,3.249182
3,3,3,Houston,TX,48,35000,"MULTIPOLYGON (((-95.17341999999999 29.807811, ...","[77583, 77086, 77006, 77072, 77401, 77098, 775...","[77002, 77010]",16503.0,...,19.978186,57.503001,7.683073,0.823186,21.368547,11.490310,12.622192,6549.0,18.465414,2.660122
4,4,4,Phoenix,AZ,4,55000,"MULTIPOLYGON (((-112.126263 33.36182, -112.125...","[85019, 85053, 85383, 85045, 85306, 85004, 850...","[85003, 85004]",15663.0,...,29.770797,70.663659,4.084056,2.552535,10.352606,10.803752,12.347145,9109.0,19.184081,3.677456

In [99]:


# COMMAND ----------

us_city_index = us_city_index.rename(columns={"0":"city"})

In [100]:

# COMMAND ----------

us_city_index[['city', 'downtown_zipcodes', 'median_rent_downtown']]

,city,downtown_zipcodes,median_rent_downtown
0,New York,"[10004, 10005, 10006, 10017, 10018, 10174, 101...",2648.536614
1,Los Angeles,"[90013, 90014, 90017, 90071]",1127.176063
2,Chicago,"[60601, 60602, 60603, 60604, 60606]",2293.234736
3,Houston,"[77002, 77010]",1572.835848
4,Phoenix,"[85003, 85004]",1023.331546
5,Philadelphia,"[19102, 19103, 19106, 19107, 19109]",1686.064378
6,San Antonio,[78205],741.000000
7,San Diego,[92101],1700.000000
8,Dallas,"[75201, 75202, 75270]",1725.453608
9,San Jose,[95113],2709.000000
10,Austin,[78701],2262.000000
11,Jacksonville,[32202],612.000000
12,Fort Worth,[76102],1366.000000
13,Columbus,[43215],1215.000000
14,Indianapolis,[46204],1309.000000
15,Charlotte,"[28202, 28282, 28244, 28280]",1511.000000
16,San Francisco,"[94104, 94105, 94111]",2685.015579
17,Seattle,"[98101, 98104, 98154, 98164, 98174]",1497.029548
18,Denver,"[80202, 80293]",1757.000000
19,Washington DC,"[20005, 20006, 20036]",1875.877187
20,Nashville,"[37201, 37219]",1592.521457
21,Oklahoma City,[73102],1116.000000
22,El Paso,[79901],432.000000
23,Boston,"[2109, 2110]",2969.019065
24,Portland,[97204],631.000000
25,Las Vegas,[89101],737.000000
26,Detroit,"[48226, 48243]",1380.000000
27,Memphis,[38103],1266.000000
28,Louisville,[40202],339.000000
29,Baltimore,"[21201, 21202]",1103.680328
30,Milwaukee,[53202],985.000000
31,Albuquerque,[87102],714.000000
32,Tucson,[85701],854.000000
33,Fresno,[93721],800.000000
34,Sacramento,[95814],917.000000
35,Kansas City,"[64105, 64106]",952.433417
37,Atlanta,[30303],1108.000000
38,Omaha,[68102],1020.000000
39,Colorado Springs,[80903],835.000000
40,Raleigh,[27601],1036.000000
43,Miami,[33131],2279.000000
44,Oakland,[94612],1220.000000
45,Minneapolis,"[55402, 55415]",1618.487544
46,Tulsa,"[74103, 74119]",1113.080357
47,Bakersfield,[93301],858.000000
48,Wichita,[67202],872.000000
51,Tampa,[33602],1597.000000
52,New Orleans,"[70112, 70130, 70139, 70162]",1193.200425
53,Cleveland,[44114],923.000000
54,Honolulu,[96813],1480.000000
55,Cincinnati,[45202],1102.000000
56,Pittsburgh,"[15219, 15222]",953.095373
57,Salt Lake City,"[84101, 84111]",867.087466
58,St Louis,[63101],1050.000000
59,Orlando,[32801],1331.000000

In [101]:

# COMMAND ----------

# MAGIC %md ### Addition of LODES Data 5/2/22 ###

In [102]:

# COMMAND ----------

lodes = pd.read_csv('~/git/downtownrecovery/shinyapp/input_data/old/downtown_cbg_lodes.csv')
lodes = lodes.loc[:,["C000","CNS01","CNS02","CNS03","CNS04","CNS05","CNS06","CNS07","CNS08","CNS09","CNS10","CNS11","CNS12","CNS13",
                     "CNS14","CNS15","CNS16","CNS17","CNS18","CNS19","CNS20","city.y"]]
lodes.head()
lodes.dtypes
for i in range(len(lodes.columns)-1):
    lodes.iloc[:,i] = lodes.iloc[:,i].fillna(0)
    lodes.iloc[:,i] = lodes.iloc[:,i].astype(int)

def get_lodes_data(city):
    city_lodes = lodes[lodes["city.y"]==city]
    city_lodes_sum = city_lodes.sum(axis=0)
    return pd.Series([int(city_lodes_sum["C000"]),
                      div_int_0(city_lodes_sum["CNS01"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS02"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS03"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS04"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS05"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS06"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS07"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS08"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS09"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS10"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS11"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS12"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS13"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS14"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS15"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS16"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS17"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS18"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS19"],city_lodes_sum["C000"])*100,
                      div_int_0(city_lodes_sum["CNS20"],city_lodes_sum["C000"])*100])
        

#    city_lodes_stats["pct_jobs_agriculture_forestry_fishing_hunting"] = div_0(city_lodes_sum["CNS01"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_mining_quarrying_oil_gas"] = div_0(city_lodes_sum["CNS02"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_utilities"] = div_0(city_lodes_sum["CNS03"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_construction"] = div_0(city_lodes_sum["CNS04"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_manufacturing"] = div_0(city_lodes_sum["CNS05"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_wholesale_trade"] = div_0(city_lodes_sum["CNS06"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_retail_trade"] = div_0(city_lodes_sum["CNS07"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_transport_warehouse"] = div_0(city_lodes_sum["CNS08"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_information"] = div_0(city_lodes_sum["CNS09"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_finance_insurance"] = div_0(city_lodes_sum["CNS10"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_real_estate"] = div_0(city_lodes_sum["CNS11"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_professional_science_techical"] = div_0(city_lodes_sum["CNS12"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_management_of_companies_enterprises"] = div_0(city_lodes_sum["CNS13"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_administrative_support_waste"] = div_0(city_lodes_sum["CNS14"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_educational_services"] = div_0(city_lodes_sum["CNS15"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_healthcare_social_assistance"] = div_0(city_lodes_sum["CNS16"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_arts_entertainment_recreation"] = div_0(city_lodes_sum["CNS17"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_accomodation_food_services"] = div_0(city_lodes_sum["CNS18"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_other"] = div_0(city_lodes_sum["CNS19"],city_lodes_sum["C000"])
#    city_lodes_stats["pct_jobs_public_administration"] = div_0(city_lodes_sum["CNS20"],city_lodes_sum["C000"])
#    return city_lodes_stats

/tmp/ipykernel_1550709/3853106155.py:10: FutureWarning: In a future version, `df.iloc[:, i] = newvals` will attempt to set the values inplace instead of always setting a new array. To retain the old behavior, use either `df[df.columns[i]] = newvals` or, if columns are non-unique, `df.isetitem(i, newvals)`
  lodes.iloc[:,i] = lodes.iloc[:,i].astype(int)

In [103]:

us_city_index[["total_jobs",
              "pct_jobs_agriculture_forestry_fishing_hunting",
              "pct_jobs_mining_quarrying_oil_gas",
              "pct_jobs_utilities",
              "pct_jobs_construction",
              "pct_jobs_manufacturing",
              "pct_jobs_wholesale_trade",
              "pct_jobs_retail_trade",
              "pct_jobs_transport_warehouse",
              "pct_jobs_information",
              "pct_jobs_finance_insurance",
              "pct_jobs_real_estate",
              "pct_jobs_professional_science_techical",
              "pct_jobs_management_of_companies_enterprises",
              "pct_jobs_administrative_support_waste",
              "pct_jobs_educational_services",
              "pct_jobs_healthcare_social_assistance",
              "pct_jobs_arts_entertainment_recreation",
              "pct_jobs_accomodation_food_services",
              "pct_jobs_other",
              "pct_jobs_public_administration"]] = us_city_index["city"].apply(get_lodes_data)

def calculate_entropy(row):
    entropy = 0
    for i in ["pct_jobs_agriculture_forestry_fishing_hunting",
              "pct_jobs_mining_quarrying_oil_gas",
              "pct_jobs_utilities",
              "pct_jobs_construction",
              "pct_jobs_manufacturing",
              "pct_jobs_wholesale_trade",
              "pct_jobs_retail_trade",
              "pct_jobs_transport_warehouse",
              "pct_jobs_information",
              "pct_jobs_finance_insurance",
              "pct_jobs_real_estate",
              "pct_jobs_professional_science_techical",
              "pct_jobs_management_of_companies_enterprises",
              "pct_jobs_administrative_support_waste",
              "pct_jobs_educational_services",
              "pct_jobs_healthcare_social_assistance",
              "pct_jobs_arts_entertainment_recreation",
              "pct_jobs_accomodation_food_services",
              "pct_jobs_other",
              "pct_jobs_public_administration"]:
        if row[i]>0:
            entropy = entropy + ((((row[i]/100)*row["total_jobs"])/row["total_jobs"])*np.log(((row[i]/100)*row["total_jobs"])/row["total_jobs"]))
        else:
            entropy = entropy
    return -entropy

us_city_index["employment_entropy"] = us_city_index.apply(lambda x: calculate_entropy(x), axis=1)

us_zcta_geo = pd.read_csv('~/data/downtownrecovery/census_data/us_zcta_geo.csv')
# us_zcta_geo and us_zcta_geo-1 are identical
us_zcta_geo.shape
us_zcta_geo.head()

us_zcta_geo_1 = pd.read_csv('~/data/downtownrecovery/census_data/us_zcta_geo-1.csv')
us_zcta_geo_1.shape
us_zcta_geo_1.head()
us_zcta_geo.equals(us_zcta_geo_1)

us_zcta_geo["GEOID10"] = us_zcta_geo["GEOID10"].astype(int)
# ALAND10 is in meters squared
us_zcta_geo["ALAND10"] = us_zcta_geo["ALAND10"].astype(int)
# to convert m2 -> km2; there are 1000 m in 1km. 1000 * 1000 = 1000000
us_zcta_geo["ALAND10km2"] = .000001 * us_zcta_geo["ALAND10"] 
us_zcta_geo["ALAND10km2"] = us_zcta_geo["ALAND10km2"]

In [104]:

def get_land_area_m2(zipcodes):
    us_zcta_geo_cut = us_zcta_geo[us_zcta_geo["GEOID10"].isin([int(i) for i in zipcodes])]
    return np.sum(us_zcta_geo_cut["ALAND10"])

def get_land_area_km2(zipcodes):
    us_zcta_geo_cut = us_zcta_geo[us_zcta_geo["GEOID10"].isin([int(i) for i in zipcodes])]
    return np.sum(us_zcta_geo_cut["ALAND10km2"])
    
us_city_index["land_area_downtown_m2"] = us_city_index["downtown_zipcodes"].apply(lambda x: get_land_area_m2(x))
#us_city_index["land_area_city_m2"] = us_city_index["zipcodes"].apply(lambda x: get_land_area_m2(x))

us_city_index["land_area_downtown_km2"] = us_city_index["downtown_zipcodes"].apply(lambda x: get_land_area_km2(x))
#us_city_index["land_area_city_km2"] = us_city_index["zipcodes"].apply(lambda x: get_land_area_km2(x))

us_city_index["population_density_downtown_m2"] = us_city_index["total_pop_downtown"]/us_city_index["land_area_downtown_m2"]
#us_city_index["population_density_city_m2"] = us_city_index["total_pop_city"]/us_city_index["land_area_city_m2"]
us_city_index["employment_density_downtown_m2"] = us_city_index["total_jobs"]/us_city_index["land_area_downtown_m2"]
us_city_index["housing_density_downtown_m2"] = us_city_index["housing_units_downtown"]/us_city_index["land_area_downtown_m2"]
#us_city_index["housing_density_city_m2"] = us_city_index["housing_units_city"]/us_city_index["land_area_city_m2"]

us_city_index["population_density_downtown_km2"] = us_city_index["total_pop_downtown"]/us_city_index["land_area_downtown_km2"]
#us_city_index["population_density_city_km2"] = us_city_index["total_pop_city"]/us_city_index["land_area_city_km2"]
us_city_index["employment_density_downtown_km2"] = us_city_index["total_jobs"]/us_city_index["land_area_downtown_km2"]
us_city_index["housing_density_downtown_km2"] = us_city_index["housing_units_downtown"]/us_city_index["land_area_downtown_km2"]
#us_city_index["housing_density_city_km2"] = us_city_index["housing_units_city"]/us_city_index["land_area_city_km2"]

In [105]:
us_city_index.head()

,Unnamed: 0,_c0,city,1,2,3,geo,zipcodes,downtown_zipcodes,total_pop_downtown,...,pct_jobs_public_administration,employment_entropy,land_area_downtown_m2,land_area_downtown_km2,population_density_downtown_m2,employment_density_downtown_m2,housing_density_downtown_m2,population_density_downtown_km2,employment_density_downtown_km2,housing_density_downtown_km2
0,0,0,New York,NY,36,51000,"MULTIPOLYGON (((-74.040747 40.700167, -74.0407...","[10171, 10110, 10282, 10040, 11207, 10456, 114...","[10004, 10005, 10006, 10017, 10018, 10174, 101...",68267.0,...,2.933152,2.479315,4853974,4.853974,0.014064,0.239818,0.010191,14064.146203,239818.342661,10190.825085
1,1,1,Los Angeles,CA,6,44000,"POLYGON ((-118.668176 34.189867, -118.668146 3...","[90018, 90301, 90071, 90062, 90211, 90089, 900...","[90013, 90014, 90017, 90071]",49096.0,...,28.973896,2.497852,4671358,4.671358,0.010510,0.077725,0.005998,10510.005870,77725.149732,5997.613542
2,2,2,Chicago,IL,17,14000,"POLYGON ((-87.94009699999999 42.000792, -87.93...","[60302, 60171, 60643, 46327, 60633, 60305, 606...","[60601, 60602, 60603, 60604, 60606]",21390.0,...,7.951608,2.438863,2344473,2.344473,0.009124,0.262660,0.006628,9123.585556,262660.307882,6627.928750
3,3,3,Houston,TX,48,35000,"MULTIPOLYGON (((-95.17341999999999 29.807811, ...","[77583, 77086, 77006, 77072, 77401, 77098, 775...","[77002, 77010]",16503.0,...,20.938171,2.640123,5531694,5.531694,0.002983,0.035428,0.001184,2983.353743,35428.026207,1183.904967
4,4,4,Phoenix,AZ,4,55000,"MULTIPOLYGON (((-112.126263 33.36182, -112.125...","[85019, 85053, 85383, 85045, 85306, 85004, 850...","[85003, 85004]",15663.0,...,26.108635,2.494974,10078356,10.078356,0.001554,0.017412,0.000904,1554.122518,17412.165238,903.818043

In [106]:

us_city_index.head()

# COMMAND ----------

us_city_index_subset = us_city_index.drop(columns = ["1", "2", "3", "geo", "zipcodes", "downtown_zipcodes"])

us_city_index = us_city_index.drop(columns=["1","2","3","geo","zipcodes","downtown_zipcodes"])

us_city_index.head()

us_city_index.to_csv('~/data/downtownrecovery/us_downtown_data_20230721.csv')